@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
.imageBlack {
  filter: grayscale(1);
  transition: all ease-in-out 0.5s;
}
.imageBlack:hover {
  filter: grayscale(0);
}
/* border on text */
/* 
.textBorder {
  color: black;
  font-size: 20rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 10%;
  z-index: -1;
} */
.inBack {
  z-index: -999;
}
